body{
  background-color: bisque;
  text-align: center;
}
ul {
    width:100%;
    margin-left: 0;
    margin-bottom: 0
} 

li { 
     list-style-type: none;
    
    margin-right: 20px;
}
.card-title {
  border: solid 1px blue;
  
}

.card-text {
  text-align: justify;
}
.bold {
  font-weight: bold;
  text-align: justify;
}
.avail {
  background-color: gray;
  color: yellow;
  text-align: justify;
}
div {
  padding: 2px;
}

footer {
  text-align: justify;
}

.font-one {
  font-family: "Merriweather" ;
}
.parent{
  position: relative;
}
.over-img{
  position: absolute;
  top:30%;
  left: 10%;
}
